.Box {
    border: 2px solid hsla(0, 0%, 22%, 0.5);
    border-radius: 5px;
    margin-bottom: 2%;
    width: 25%;
    max-width: 300px;
    height: 700px;
    flex: 0 0 auto;

    padding: 5px;
}
.Card img{
    width:100%;
    height: auto;
}