

.MovieRow {
    width: 100%;
    padding-left: 15px;
}
.Box {
    border: 2px solid hsla(0, 0%, 22%, 0.5);
    border-radius: 5px;
    margin-bottom: 2%;
    width: 25%;
    max-width: 300px;
    height: 700px;
    flex: 0 0 auto;

    padding: 5px;
}
.Card img{
    width:100%;
    height: auto;
}
.Page{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.column {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.description {
    font-size: 16px;
    white-space: normal;  /* Allow text to wrap */
    word-wrap: break-word; /* Allow long words to break if needed */
    text-overflow: ellipsis;  /* Show ellipsis when the text overflows */
    overflow: hidden;  /* Hide the overflowed text */
    line-height: 1.4;
    max-height: 4.2em; 
}
/* For small screens (mobile) */
@media (max-width: 600px) {
    .Box {
      width: 80%; /* Make the box take more width on mobile */
      height: auto;
    }
  }
/* For small screens */
@media (max-width: 768px) {
    .column {
      flex-wrap: wrap;
      gap: 10px; /* Smaller gap between items */
    }
  }
/* Medium screens (tablets) */
@media (max-width: 1024px) {
    .description {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .description {
      max-height: none; /* Removes the height restriction on small screens */
      font-size: 14px;
    }
  }
/* Extra small screens */
@media (max-width: 480px) {
    .description {
        font-size: 10px;
    }
}

/* For screens smaller than 600px (mobile) */
@media (max-width: 600px) {
    .Box {
        width: 60%; /* Box takes up 80% of the container width on mobile */
        border: 1px solid; /* Maybe reduce border size on mobile */
        height: auto;
        flex: 0 0 auto;
    }
}

@media (max-width: 1000px) {
    .Box {
        width: 60%; /* Box takes up 80% of the container width on mobile */
        border: 1px solid; /* Maybe reduce border size on mobile */
        height: auto;
        flex: 0 0 auto;
    }
}